<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStore"
        tools:targetApi="31">
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".views.selling.PurchaseFormActivity"
            android:exported="false" />
        <activity
            android:name=".views.offers.PromotionActivity"
            android:exported="false" />
        <activity
            android:name=".views.offers.DiscountsActivity"
            android:exported="false" />
        <activity
            android:name=".views.offers.OffersActivity"
            android:exported="false" />
        <activity
            android:name=".views.signUp.SetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".views.signUp.ValidateRegisterDataActivity"
            android:exported="false" />
        <activity
            android:name=".views.signUp.SignUpShopActivity"
            android:exported="false" />
        <activity
            android:name=".views.signUp.SignUpEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".views.selling.SellingActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboards.PredictionDataActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboards.PerformanceDataActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboards.InventoryDataActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboards.BuyingDataActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboards.RentabilityDataActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboards.SalesDataActivity"
            android:exported="false" />
        <activity
            android:name=".views.employers.ManageEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".views.employers.ProfileEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".views.supplier.AdminSupplierProductsActivity"
            android:exported="false" />
        <activity
            android:name=".views.supplier.SupplierDetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.supplier.SupplierRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".views.chatbot.ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".views.chatbot.ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".views.supplier.SupplierActivity"
            android:exported="false" />
        <activity
            android:name=".views.employers.EmployerActivity"
            android:exported="false" />
        <activity
            android:name=".views.products.ProductSupplierActivity"
            android:exported="false" />
        <activity
            android:name=".views.products.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.sales.ValidateSaleActivity"
            android:exported="false" />
        <activity
            android:name=".views.sales.DetailSaleActivity"
            android:exported="false" />
        <activity
            android:name=".views.sales.SaleProductsActivity"
            android:exported="false" />
        <activity
            android:name=".views.products.ProductEditActivity"
            android:exported="false" />

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mibodega.mystore.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".views.signUp.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_main_navigation" />
        <activity
            android:name=".views.signIn.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>